* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(174, 221, 221);
  line-height: 1.2;
}
